astroid==4.0.4
certifi==2026.6.17
charset-normalizer==3.4.9
dill==0.4.1
idna==3.18
isort==8.0.1
mccabe==0.7.0
nulltype==2.3.1
numpy==2.5.1
pandas==3.0.3
plaid-python==40.1.0
platformdirs==4.10.0
pylint==4.0.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
six==1.17.0
tomlkit==0.15.0
urllib3==2.7.0
